{% extends 'main/layout.html' %}


{% block title %}НИТиИ - Наши студенты{% endblock %}
{% block content %}
    <h2 class="title">Наши студенты</h2>
    <div class="search_box">
        <form method="GET" class="search text-center" >
            <input type="text" placeholder="Поиск" class="form-control" name="search">
        </form>
    </div>
    
    <div class="container text-center student_list">
        {% if students %}
            <div class="row header">
                <div class="col">ФИО</div>
                <div class="col">Группа</div>
            </div>
            {% for elem in page_obj %}
                <a href="{% url 'student_page' elem.id %}">
                    <div class="row student_list">
                        <div class="col">
                            {{elem.surname}} {{elem.name}} {{elem.lastname}}
                        </div>
                        <div class="col">
                            {{elem.group}}
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
                <p class="text">Пока нет студентов</p>
        {% endif %}
        <a href="{% url 'add_student' %}" class="btn text-center button_option">Добавить студента</a>
        <nav aria-label="">
            <ul class="pagination">
                {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Назад">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}
              <li class="page-item page-link no_hover">{{ page_obj.number }} страница  из {{ page_obj.paginator.num_pages }}</li>
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Вперёд">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
    </div>
    
    
    {% include 'main/footer.html' %}
{% endblock %}