{% extends 'main/layout.html' %}


{% block title %}НИТиИ - Изменить данные группы{% endblock %}
{% block content %}
    <h2 class="title">Изменить данные группы</h2>
    <div class="container text-center">
        <div class="text-center"><span class="error">{{error}}</span></div>
        <form method="POST" class="form text-center">
            {% csrf_token %}
            <label for="name">Наименование<span>*</span></label>
            {{ form.name }}
            <label for="course">Курс<span>*</span></label>
            {{ form.course }}
            <label for="speciality">Специальность<span>*</span></label>
            {{ form.speciality }}
            <label for="count_of_students">Количество студентов<span>*</span></label>
            {{ form.count_of_students }}
            <div class="text-center">
                <button class="btn button_option" type="submit">Готово</button>
            </div>
        </form>
    </div>
    
    {% include 'main/footer.html' %}
{% endblock %}