@media (min-width: 200px) and (max-width:700px){
    .content{left: 5%; top: 70px; width: 90%;}
    aside{width: 98%; height: 50px;}
    aside img{width: 30px;}
    aside ul{
        display: flex;
        flex-wrap: nowrap;
        top:5px;
        left:0px;
        justify-content: flex-end;
    }
    aside .logo{display: none;}
    aside .name{display: none;}
    aside i{display: none;}
    aside ul li{
        margin-top: 0px;
        margin-right: 10px;
        font-size: 15px;
    }
    .footer{margin-bottom: 50px;}
    .footer div{margin: 0px 0px;}
    .row.header{font-size: 15px;}
    .student_photo{width:100%;}
    .button_option{margin:20px;}
    .col.empty{display: none;}
}
@media (min-width:200px) and (max-width:400px){
    .row.header{font-size: 10px;}
}
@media (min-width:700px) and (max-width:1000px){
    aside ul li{font-size: 17px;}
    aside ul{left:-25px}
    
}